 
html, body {
height: 100%;
width: 100%;
background-image:url("https://images.unsplash.com/photo-1610465299993-e6675c9f9efa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
height:100vh;
background-size: cover;
background-position: center;
text-align: center;
}
html, h1 {
color: white;
text-align: left;
}
.login-page {
width: 360px;
padding: 10% 0 0;
margin: auto;
}
.form {
position: center;
z-index: 1;
background: rgba(2, 48, 253, 0.8);
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
}
.form input {
font-family: "Roboto", sans-serif;
outline: 1;
background: #f2f2f2;
width: 100%;
border: 0;
margin: 0 0 15px;
padding: 15px;
box-sizing: border-box;
font-size: 14px;
}
.form button {
font-family: "Roboto", sans-serif;
text-transform: uppercase;
outline: 0;
background: #4CAF50;
width: 100%;
border: 0;
padding: 15px;
color: #FFFFFF;
font-size: 14px;
cursor: pointer;
}
.form button:hover,.form button:active{
background: #43A047;
}
.form .message{
margin: 15px 0 0;
color: aliceblue;
font-size: 12px;
}
.form .message a{
color:#41d646;
text-decoration: none;
}
.form .register-form,
.form select{
display: none;
width: 100%;
}
 
